#html {
    background-image:url("images_htmlprac.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: wheat;
  }